.story#topidea
  %h2= link_to idea.title, @idea
  .supportButton
    %a{ :href => '#' }
      %span.unsupported
  %div.ideaDesc#full
    = idea.body
  .ideaDetails
    = link_to '203 comments', '#'
    &#183; submitted by
    = link_to idea.get_creator_name, '#'
