.story{:id => (defined? featured != nil) ? "topIdea" : "" }
  %h2= link_to idea.title, idea
  .supportButton
    %a{:href => vote_url(:id => idea.id) }
      - if defined? @current_user.id and Vote.find(:all, :conditions => { :user_id => @current_user.id, :idea_id => idea.id}).length != 0
        %span.supported
      - else
        %span.unsupported
  %p.ideaDesc#full
    = idea.body
  .ideaDetails
    = link_to idea.comments.length.to_s + ' comments', idea
    &#183; submitted by
    = link_to idea.user.name, idea.user
