.supportButton{:id => (defined? size and size == "big") ? "bigIdea" : "smallIdea"}
  %a{:href => vote_url(:id => idea.id) }
    - if defined? @current_user.id and Vote.find(:all, :conditions => { :user_id => @current_user.id, :idea_id => idea.id}).length != 0
      %span.supported
    - else
      %span.unsupported
