%hr
%h2 Comment
%span parsed with 
%a{:href => 'http://www.textism.com/tools/textile/'} textile
= form_remote_tag :update => "comments", :url => {:controller => '/ideas', :action => 'comment', :id => @idea}
= text_area "comment", "body"
%br
  = submit_tag "Comment"

