%p
  %b Name:
  =h @user.name 

%p
  %b Case ID:
  =h @user.caseid 


%p
  %b Major:
  =h @user.major

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'All Users', users_path
%h2 #{@user.name}'s Ideas

- @ideas.each do |idea|
  .story.smallIdea{:id => idea.id}
    = render :partial => 'ideas/smallidea', :locals => {:idea => idea}


