= render :partial => "ideas/featuredidea", :locals => { :idea => @last }
%h2 Hello World, welcome to the stuff about ideas
%strong= h  @last.author 
%span had an idea that was:
%strong= h @last.body


