#container
  #header
    %h1 Hello World, welcome to the stuff about ideas
  #sidebar
    %span Navigation stuff goes here?
    %li= link_to 'Home', #
    %li= link_to 'Ideas', ideas_path
  #content
    %strong= h  @last.author 
    %span had an idea that was:
    %strong= h @last.body
  #footer
    %h6 footer down here


