#feature
  #featureHolder
    .featureContent
      %h1 Got an idea?
      %p
        This
        %em is
        your university after-all. If you have an idea, let's hear it! Submit your ideas below and vote on others' ideas. Let your voice be heard, and let your ideas impact tomorrow's students.
    .featureImg
      %img{:alt => "", :height => "180", :src => "/images/ideas_home_grace.png", :width => "400"}
