#umcNav
  #topNavWrapper
    %ul#topnav
      %li= link_to 'Home', root_path
      %li
        = link_to 'All Ideas', ideas_path 
        %ul
          %li
            %a{:href => "#"} Advising
          %li
            %a{:href => "#"} Academics
          %li
            %a{:href => "#"} Environment
          %li
            %a{:href => "#"} Other
          %li
            %a{:href => "#"} Technology
      %li= link_to 'Log In', root_path
      %li
        %a.sec2{:href => "section2.html"} My Ideas
      %li
        %a.sec3{:href => "section3.html"} Submit an Idea
      %li
        %a.sec4{:href => "section4.html"} Profile
