%div
  %h4
    Popular Tags
  .sideContent
    %ul
      - Tag.find(:all, :order => :name).each do |tag|
        - if !tag.ideas.empty?
          %li
            %strong
              = link_to tag.name, tag
              \-
            = tag.ideas.last.title
      .calLink
        %p
          &raquo;
          = link_to 'View full tag list', tags_path
