%div
  %h4
    Popular Tags
  .sideContent
    %ul
      - Category.find(:all, :order => :name).each do |category|
        - if !category.ideas.empty?
          %li
            %strong
              = link_to category.name, category
              \-
            = category.ideas.last.title
      .calLink
        %p
          &raquo;
          = link_to 'View full category list', '#'
